<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input</title>
</head>
<body>
    <h1>RPA-Test</h1>
    <div>Suchformular zur automatisierten Eingabe von Strings</div>
    <hr/>
    <div>
        <form method="POST">
            {% csrf_token %}
            <label for="input_str">Input String:</label>
            <input type="text" name="input_str" id="input_str">
            <br>
            <button type="submit">Submit</button>
        </form>
    </div>
    <hr/>
    <div>
        <h3>Ausgabe des Vorherigen Inputs</h3>
    {% if last_input %}
        <p>Ihre letzte Eingabe war: {{ last_input }}</p>
    {% endif %}
</div>
</body>
</html>