{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/input.css' %}">
    <title>Input</title>
</head>
<body>
    <div class="start_page">
        <h1 class="start_page-title">RPA-Test</h1>
        <p class="start_page-subtext"> Suchformular zur automatisierten Eingabe von Strings</p>
        <hr/>
        <div>
            <form method="POST">
                {% csrf_token %}
                    <div class="form-input-wrapper">
                        <p>Eingabe</p>
                        <input type="text" name="input_str" id="input_str">
                    </div>
                    <button type="submit">Abschicken</button>
            </form>
        </div>
        <hr/>
        <div class="output-wrapper">
            <h3>Ausgabe des Vorherigen Inputs</h3>
            {% if last_input %}
            <p class="output-p-text">{{ last_input }}</p>
            {% endif %}
        </div>
    </div>
</body>
</html>